/* * {
	border: 1px solid red;
} */

body {
	margin-left: 5%;
	margin-right: 5%;
}

@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
#weather-icon {
	display: inline-block;
	vertical-align: middle;
}

#weather-temp {
	display: inline-block;
	vertical-align: middle;
}

#main-content-box {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
}

#spotify-card {
	height: 390px;
}

#stocks-card {
	height: 390px;
}

@media screen and (min-width: 1490px) {
	body {
		width: 1300px;
		margin: auto;
	}
}
